.everything
	%nav.top-bar{"data-topbar" => ""}
		%section.top-bar-section
			/ Right Nav Section
			%ul.right
				%li
					%a{href: "#"}
						Logged in as 
						= current_user.name

				%li
					%a{href: logout_path} Logout
					
			
	.row
		.small-6.columns
		.small-6.columns
			%h3 Highly Religious Figures
			%table 
				%thead
					%th Name
					%th Converted Pastafarian?
					%th Has that changed?
					%th Shun the nonbeliever!
				%tbody{id: "happy-sunshine"}
				-@figures.each do |f|
					%tr
						%td= f.name
						%td{id: "bool"}= f.converted_pastafarian
							
						%td
							%button.button.tiny.success{ data: { "figure-id" => f.id}}
								Convert
							
						%td
							%button.button.tiny.alert{ data: { "figure-id" => f.id}}
								SHUN
							/ = link_to "SHUN", { action: "destroy", id: f.id}, data: { "figure-id" => f.id}, class: "button tiny alert", method: :delete
							/ %a.button.tiny.alert
							/ 	SHUN
							

