.row
	.small-10.columns
		%h1 Welcome to the church of the Flying Speghetti Monster!

		%h2 If you're new here, Please register and bask in the glory of his noodleness
.row
	.small-2.columns		 
		= link_to "Sign up!", new_user_path
.row
	.small-2.columns
		= link_to "Login", new_session_path