= image_tag('flying_spaghetti.jpg')
.row
	.small-10.columns
		%h1 Welcome to the church of the Flying Speghetti Monster!

		%h5 If you're new here, Please register and bask in the glory of his noodleness
.row
	.small-2.columns		 
		%a.button{href: new_user_path} SignUp!
	.small-2.columns
		%a.button{href: new_session_path} Login
	.small-8.columns
		%p lorum ipsum
		